[submodule "examples/amazon-s2n/s2n"]
	path = examples/amazon-s2n/s2n
	url = https://github.com/awslabs/s2n.git
[submodule "examples/curve25519-donna/donna"]
	path = examples/curve25519-donna/donna
	url = https://github.com/agl/curve25519-donna.git
[submodule "tools/boogie"]
	path = tools/boogie
	url = https://github.com/boogie-org/boogie.git
[submodule "tools/z3"]
	path = tools/z3
	url = https://github.com/Z3Prover/z3.git
[submodule "examples/polarssl/mbedtls"]
	path = examples/polarssl/mbedtls
	url = https://github.com/ARMmbed/mbedtls.git
