[submodule "examples/amazon-s2n/s2n"]
	path = examples/amazon-s2n/s2n
	url = https://github.com/awslabs/s2n.git
[submodule "examples/curve25519-donna/donna"]
	path = examples/curve25519-donna/donna
	url = https://github.com/agl/curve25519-donna.git
[submodule "examples/polarssl/mbedtls"]
	path = examples/polarssl/mbedtls
	url = https://github.com/ARMmbed/mbedtls.git
[submodule "examples/ftfp/libfixedtimefixedpoint"]
	path = examples/ftfp/libfixedtimefixedpoint
	url = https://github.com/kmowery/libfixedtimefixedpoint.git
[submodule "examples/rlwe/rlwekex"]
	path = examples/rlwe/rlwekex
	url = https://github.com/dstebila/rlwekex.git
